div {
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    display: flex;
    height: 15vh;
    justify-content: right;
    align-items: center;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: right;
    margin: 0;
}

a {
    color: #333333;
    text-decoration: none;
    position: relative;
    transition: color 0.2s;
}

a.animated-underline {
    position: relative;
    transition: color 0.2s;
}

a.animated-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #60826e;
    transition: width 0.2s ease-in;
}

a.animated-underline:hover {
    color: #60826e;
}

a.animated-underline:hover::after {
    width: 100%;
}