html {
    /* font-family: system-ui; */
    font-family: serif;
    color: #333333;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F7F5F1;
}

.layout {
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "logo header"
        "side main"
        "footer footer";
    min-height: 100vh;
}

.logo-div {
    grid-area: logo;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

.logo {
    width: 18vw;
}

.header {
    grid-area: header;
}

main {
    grid-area: main;
    margin: 1rem 8rem;
    text-align: justify;
}

.green-bg {
    background-color: #60826E;
}

.green {
    color: #202d25;
}

.main h1 {
    font-size: 3rem;
    color: #578a6a;
}

.hero {
    font-size: 1.5rem;
    font-style: italic;
}

.main h2 {
    font-size: 1.5rem;
    color: #578a6a;
}